<div class="container-xl">
  <div class="mt-2 mb-3 d-flex justify-content-between">
    <div>
      <%= link_to shops_cohort_path do %>
        <button type="button" class="btn btn-outline-primary">
          Cohort Analysis
        </button>
      <% end %>
    </div>

    <div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search by name" name="search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>

  <% if @cohort_month %>
    <div class="alert alert-primary" role="alert">
      Cohort: <%= @cohort_month %>
    </div>
  <% end %>

  <% if @churn_timeframe %>
    <div class="alert alert-primary" role="alert">
      Churned during last <%= @churn_timeframe %> days
    </div>
  <% end %>

  <%= render "shops_table" %>
</div>